.aboutimage{
    width: 42rem;
    height: 25rem;
}
.about{
    background: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #7E9DBD 100%);
   
}
.aboutus{
    display: flex;
    flex-direction: row;
    padding: 4rem 3.5rem 0rem 3.5rem;

    
}
h6{
    font-size: 1.2rem;
    font-family: cursive;
    font-weight: unset;
    color: #3a3a3a;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}
h2{
    margin-bottom: 2rem;
    font-size: 3.0588235294118rem;
    font-family: "DM Serif Text", serif;
    color: #3b3b3b;
}
.about-hireus-container{
margin: 0rem 3rem 0rem 3rem;
}
.about-hireus{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: auto auto auto;
}
.about-hireus-item{
    max-width: 100%;
    margin: 2rem 3rem 2rem 0rem;   
     text-align: left;

}
p{
    font-size: 1.2rem;
    font-style: inherit;
    vertical-align: baseline;
    margin-top: 1.7rem;
    font-family: "Poppins", sans-serif;
    color: #4b4f58;
}
h4{
    font-weight: bolder;
    color: #3b3745;
    font-family: "DM Serif Text", serif;
}
/* d-flex justify-content-around */