
.client-heading h1{
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-size: 60px;
  font-style: normal;
  
}
/* img{
    width: 350px;
    height: 200px;
} */
.client-img{
    width: 300px;
    height: 150px;
}
.house-img{
    width: 300px;
    height: 350px;
}
.col{
    border: 1px solid #A7A09040 ;
    border-bottom: none;
    border-right: none;
    border-left: none;
    /* transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
}

.client-detail{
    padding: 20px 0px 20px 0px;
}
.client-title{
    font-size: 20px;
    font-family: "DM Serif Text", serif;
    padding: 10px 0px 5px 0px;

}
.col:nth-child(2) {
    border-left: 1px solid #A7A09040 ;
    border-right: 1px solid #A7A09040 ;
  }