.footer-container{
    background-color: #000000;
}
.footer-content{
    font-family: "Poppins", sans-serif;
    font-style: inherit;
    font-weight: inherit;
    color: #fefefefe;
}

.grid i{
   
    font-size: 25px;
    color: #fefefefe;
}

footer hr{
   margin: 2rem 0;
}
.footer-end{
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-style: inherit;
    font-weight: inherit;
}