/* .team-container
{
    background-color: black;
} */
.team-heading{
    font-family: "Poppins", sans-serif;
    color: #4b4f58;
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
}
.team-title{
    font-family: "DM Serif Text", serif;
    color: #3a3a3a;
    font-weight: 400;
    font-size: 45px;
    line-height:60px;
}
.team-content{
    font-family: "Poppins", sans-serif;
    color: #4b4f58;
    vertical-align: baseline;
    font-weight: inherit;
    font-size: 18px;
}
.image-list{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    
}
.image-list img{
    width:350px;
    height:250px;
    margin-left: 12px;
   
}
