.visualization-title{
    font-family: "DM Serif Text", serif;
}
.visual-img{
    width: 250px;
    height: 150px;
}
.visualization-list{
    display: flex;
    flex-wrap: wrap;

}

ul{
    list-style: none;
}
.list-group-item{
    /* width: 24%;  */
    /* margin: 1%;   */
    box-sizing: border-box;
    padding: 0px 5px 8px 5px;

}
